<footer>
  <section>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4518.406400016176!2d-122.86378491244264!3d49.24841233105442!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5486786894448b5b%3A0x4d9541d251eb81d5!2s1066c%20Austin%20Ave%2C%20Coquitlam%2C%20BC%20V3K%203P3!5e0!3m2!1sen!2sca!4v1756405591308!5m2!1sen!2sca" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    <div class="contact-and-social">
      <div class="contact">
        <a href="https://www.google.com/maps/place/Raven+Grappling+-+Brazilian+Jiu+Jitsu/@49.2483481,-122.8620403,17.29z/data=!4m5!3m4!1s0x0:0x24b2c3e23fd40b0!8m2!3d49.2485749!4d-122.8623326">
          1066C Austin Avenue,
          <br>
          Coquitlam, BC V3K 3P3
        </a>

        <a href="tel:+17785555555">
          (778) 555-5555
        </a>

        <a href="mailto:info@womenvip.ca">
          info@womenvip.ca
        </a>
      </div>

      <div class="social">
        <a href="https://www.facebook.com/profile.php?id=100088286979380" target="_blank" aria-label="Women VIP on Facebook" class="rg-social">
          {% include svg/facebook.svg %}
        </a>

        <a href="https://www.instagram.com/ravengrappling" target="_blank" aria-label="Women VIP on Instagram" class="rg-social ml-1">
          {% include svg/instagram.svg %}
        </a>

        <a href="https://www.youtube.com/@ravengrappling" target="_blank" aria-label="Women VIP on YouTube" class="rg-social ml-1">
          {% include svg/youtube.svg %}
        </a>

        <a href="https://maps.app.goo.gl/nDRsWX2whcga4qer6" target="_blank" aria-label="Women VIP on Google Maps" class="rg-social ml-1">
          {% include svg/google.svg %}
        </a>
      </div>
    </div>

    <div>
      &copy; WOMEN VIP |
      <a href="/privacy-policy">PRIVACY POLICY</a>
    </div>
  </section>
</footer>
