<nav>
  <section>
    <a href="/" class="logo">
      <img src="/assets/images/logo.png" alt="Women VIP">
      <div>Women VIP</div>
    </a>
    <button type="button" data-nav-toggle>
      {% include svg/nav-dropdown.svg %}
    </button>

    <ul data-nav>
      <li>
        <a href="/classes" class="{% if page.name contains "classes" %}active{% endif %}">
          Classes
        </a>
      </li>
      <li>
        <a href="/membership" class="{% if page.name contains "membership" %}active{% endif %}">
          Membership
        </a>
      </li>
      <li>
        <a href="/schedule" class="{% if page.name contains "schedule" %}active{% endif %}">
          Schedule
        </a>
      </li>
      <li>
        {% assign about_pages = "/meet-the-team, /our-story" | split: ", " %}
        <a href="#" data-nav-dropdown class="{% if about_pages contains page.url %}active{% endif %}">
          About Us
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
          </svg>
        </a>
        <ul>
          <li>
            <a href="/our-story">Our Story</a>
          </li>
          <li>
            <a href="/meet-the-team">Meet the Team</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="https://women-vip.gymdesk.com/login" target="_blank">Login</a>
      </li>
    </ul>
  </section>
</nav>
