<nav>
  <section>
    <a href="/" class="logo">
      <img src="/assets/images/logo.png" alt="Raven Grappling">
    </a>
    <button type="button" data-nav-toggle>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
        <path fill-rule="evenodd" d="M3 6.75A.75.75 0 0 1 3.75 6h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 6.75ZM3 12a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 12Zm0 5.25a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75a.75.75 0 0 1-.75-.75Z" clip-rule="evenodd" />
      </svg>
    </button>

    <ul data-nav>
      <li>
        <a href="/about-us" class="{% if page.name contains "about-us" %}active{% endif %}">
          About Us
        </a>
      </li>
      <li>
        <a href="/classes" class="{% if page.name contains "classes" %}active{% endif %}">
          Classes
        </a>
      </li>
      <li>
        <a href="/membership" class="{% if page.name contains "membership" %}active{% endif %}">
          Membership
        </a>
      </li>
      <li>
        <a href="/schedule" class="{% if page.name contains "schedule" %}active{% endif %}">
          Schedule
        </a>
      </li>
      <li>
        <a href="https://women-vip.gymdesk.com/login" target="_blank">Login</a>
      </li>
    </ul>
  </section>
</nav>
