---
title: Women VIP - Defined by Movement. Refined by Purpose.
layout: default
permalink: /
---

<div class="hero">
  <section class="flex items-center gap-lg">
    <div class="hero-content">
      <h1>
        Defined by Movement. Refined by Purpose.
      </h1>
      <p>
        <strong>Building strength</strong>
        and
        <strong>endurance while improving posture, flexibility, coordination,</strong>
        and
        <strong>inner resilience.</strong>
      </p>
      <p>
        Every class is an opportunity to reconnect with your body, challenge your limits, and move with purpose.
      </p>

      <div class="location">
        {% include svg/map-pin.svg %}
        <div>
          Austin Heights, Coquitlam<br>
          5 minutes from Lougheed Town Centre
        </div>
      </div>
    </div>
  </section>
</div>

<div id="countdown-wrapper">
  <section>
    <div class="text-center">
      <h2>
        Classes start on September 27, 2025
      </h2>
      <div id="countdown"></div>
    </div>

    <script src="/assets/js/countdown.js"></script>
    <script>
      simplyCountdown("#countdown", {
        year:      2025,
        month:     9,
        day:       27,
        hours:     16,
        enableUtc: true,
        onEnd: () => {
          document.getElementById("countdown-wrapper").remove()
        }
      });
    </script>
  </section>
</div>

<section class="text-center">
  <h2>
    What is Women VIP?
  </h2>

  <p>
    Women VIP - A fitness program for Women! Feel
    <strong>stronger, more centered, and deeply empowered</strong>
    - not just physically, but mentally.
  </p>

  <p>
    Whether you're throwing a punch to the beat, finding strength in stillness, or engaging your deep core, you’ll be guided with expert instruction, uplifting energy, and an inclusive community that supports you at every stage of your fitness journey.
  </p>
</section>

<div class="section-bg">
  <section>
    <h2 class="text-center">
      Elevate Your Body, Empower Your Life
    </h2>

    <p class="text-center">
      Invest in Yourself–choose functional training that is designed to maximize your time for better results!
    </p>

    <div class="flex flex-center">
      <ul class="with-bullets">
        <li>
          {% include svg/check.svg %}
          Women-Only Environment
        </li>
        <li>
          {% include svg/check.svg %}
          Supportive & Inclusive Community
        </li>
        <li>
          {% include svg/check.svg %}
          Elite Female Trainers
        </li>
      </ul>

      <ul class="with-bullets">
        <li>
          {% include svg/check.svg %}
          Signature Fusion Method
        </li>
        <li>
          {% include svg/check.svg %}
          Intentionally Limited Class Sizes
        </li>
        <li>
          {% include svg/check.svg %}
          Flexible Membership Options
        </li>
      </ul>
    </div>
  </section>
</div>


<section class="form-wrapper">
  {% include leads_form.html %}
</section>

<div class="section-bg">
  <section>
    <h2 class="text-center">
      Meet the team
    </h2>
    <p>
      TODO
    </p>
  </section>
</div>
