---
title: Women VIP - Wellness is not a trend- it's your foundation
layout: default
permalink: /
---

<div class="hero">
  <section class="flex items-center gap-lg">
    <div class="hero-content">
      <h1>
        Wellness is not a trend-<br>
        it's your foundation
      </h1>
      <p>
        Built for balance, made for strength.
      </p>
    </div>

    {% include leads_form.html %}
  </section>
</div>

<section>
  <h2 class="text-center">Class Features</h2>

  <div class="flex">
    <div>
      <h3>Unlock your full potential with an elite
program tailored to help you Build
Strength, Tone Your Core, Gain Flexibility
and have fun in an exclusive and
supportive women-focused environment.
Invest in yourself and prioritize functional
movements designed to maximize your
time for the best results.</h3>
    </div>
</section>

<div class="section-bg">
  <section>
    <h2 class="text-center">?TAG LINE?</h2>

    <p class="subheader text-center">
      What Makes Women VIP Special?
    </p>

    <div class="compare flex">
      <div>
        <h3>Women VIP Programs</h3>
        <ul class="ours">
          <li>
            {% include svg/check.svg %}
            Women-Only Environment
          </li>
          <li>
            {% include svg/check.svg %}
            Elite Female Trainers
          </li>
          <li>
            {% include svg/check.svg %}
            Low Client to Trainer Ratios
          </li>
          <li>
            {% include svg/check.svg %}
            Specialized Lesson Plans
          </li>
          <li>
            {% include svg/check.svg %}
            Felixible Membership Options
          </li>
        </ul>
      </div>

      <div>
        <h3>Programs at Other Fitness Studios</h3>
        <ul class="theirs">
          <li>
            {% include svg/x-mark.svg %}
             (opposite?)
          </li>
          <li>
            {% include svg/x-mark.svg %}
            (opposite?)
          </li>
          <li>
            {% include svg/x-mark.svg %}
            (opposite?)
          </li>
          <li>
            {% include svg/x-mark.svg %}
           (opposite?)
          </li>
          <li>
            {% include svg/x-mark.svg %}
            (opposite?)
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>

<section class="text-center">
  <a href="#leads-form" class="large-button" data-leads-form-link>
    Get Started Today
  </a>
</section>
